html, body {
  display: flex;
  flex-direction: column;
  font-family: IBMPlexSans, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1em;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .1em;
  & .label {
    font-size: .8em;
  }
}

label {
  color: #444;
}

animation animateIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.message {
  position: fixed;
  top: 0;
  right: -100%;
  padding: 1em;
  border-radius: 3px;

  &.info {
    background-color: #ffd364;
  }
  &.error {
    background-color: #ff6e6e;
  }
  &.success {
    background-color: #71ff99;
  }

  &.animate-in {
    animation: animateIn .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

input[type="text"] {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: none;
  border: none;
  outline: none;
  padding-top: 0.72em;
  border-bottom: 1px solid #444;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:focus {
    padding-top: 1.17em;
  }
}

button {
  border-width: 0;
  background-color: #feb701;
  border-radius: 2px;
  color: #fff;
  padding: .27rem .72rem .27rem .45rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-weight: 500;
  gap: .2em;

  &:active {
    background-color: #cb9201;
  }

  &:disabled {
    opacity: .5;
    user-select: none;
    pointer-events: none;
    cursor: default;
  }
}

#copyButton, #pasteButton {
  background-color: transparent;
  color: #000000;
  margin-top: 1em;
}

.hidden {
  display: none;
}